output_featrure_importances.png
output_cancelled.png
df_eda.csv
dashboard_final.py
dashboard_benchmark.py
dashboard_final.py
user_summary.csv
eda.ipynb
full.ipynb
data/HR_Recruiting_Data_Data_Scientist_Take_Home_Test.pdf
